<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f383b6eabf.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Csv Upload!!</title>
  </head>
  <body class="bg-gray-900">
    <%-include('_navbar') %>
    <section>
      <div class="text-center text-white mt-[150px]">
        <h1 class="font-bold text-4xl">Upload a File Here</h1>
        <p class="text-gray-400 text-lg">
          Reads CSV file and displays its content in tabular & Chart form
        </p>
      </div>

      <form
        class="bg-yellow-400 flex p-8 w-96 mt-[50px] mx-auto rounded-full"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" id="csvUpload" name="uploaded_file" accept=".csv" />
        <button
          class="text-white bg-green-500 justify-center hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-500 font-medium rounded-full text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-green-500 dark:hover:bg-green-500 dark:focus:ring-green-500"
        >
          upload
        </button>
      </form>

      <div>
        <div
          class="list-center-text rounded-full mx-auto  w-[100vh] font-bold text-3xl bg-green-500 mt-8 text-center text-white font-franklin"
        >
          <h2>Uploaded files</h2>
        </div>

        <%if(file.length==0){%>
        <div>
          <h1>No files uploaded!!</h1>
        </div>
        <%}else{%>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Time (UTC)</th>
              <th>View</th>
              <th>Delete</th>
              <th>Json data</th>
            </tr>
          </thead>
          <tbody>
            <% for(let files of file) { %>
            <tr>
              <td><%= files.filename %></td>
              <td><%= files.createdAt.toLocaleDateString() %></td>
              <td><%= files.createdAt.toLocaleTimeString() %></td>
              <td>
                <a
                  href="/view/<%= files.file %>?filename=<%= files.file %>"
                  class="view-link"
                  ><i class="fa-solid fa-arrow-up-right-from-square"></i
                ></a>
              </td>
              <td>
                <a href="/delete/<%= files.file %>" class="delete-link"
                  ><i class="fa-regular fa-trash-can" style="color: #f00"></i
                ></a>
              </td>
              <td>
                <a
                  href="/data/<%= files.file %>"
                  data-file-id="<%= files.file %>"
                  class="data-link"
                  ><i class="fa-solid fa-database"></i
                ></a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
      </div>
    </section>
  </body>
</html>
